<!doctype html>
<html lang="ru">
{{ partial "head.html" . }}
<body>
  <main id="main">
    <div class="content">
      {{ partial "header.html" . }}
      <div style="margin-top: 6em"></div>
      {{ .Content }}
      {{ if gt (len ( where .Site.RegularPages "Section" "posts" )) 0 }}
      <h3>Последние записи</h3>
      <section>
        <div class="posts">
          {{ range first 3 (where .Site.RegularPages "Section" "posts").ByDate.Reverse }}
          <a href="{{ .Permalink }}">
            <div class="card">
              <p>{{ .Title }}</p>
              <p class="small">{{ .Date.Format "01.06" }} {{ $taxonomy := "tags" }} {{ with .Param $taxonomy }} {{ range
                $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s"
                $taxonomy $tag) -}}
                <i>#{{ $tag | humanize }}</i>
                {{- end -}} {{- end -}} {{ end }}
              </p>
              <p>{{ .Description }}</p>
            </div>
          </a>
          {{ end }}
        </div>
        <div class="all"><a href="/posts/">Все записи</a></div>
      </section>
      {{ end }}
    </div>

    {{ partial "footer.html" . }}

  </main>
</body>

</html>