<!doctype html>
<html lang="ru">
{{ partial "head.html" . }}
<body>
  <main id="main">
    <div class="content">
      {{ partial "header.html" . }}
      <section>
        {{ .Content }}
    
        {{ if gt (len ( where .Site.RegularPages "Section" "posts" )) 0 }}
      
        <div class="columns">
          {{ range first 1 (where .Site.RegularPages "Section" "posts").ByDate.Reverse }}

          <a href="{{ .Permalink }}" class="card-link">
            <div class="card special">
              <div class="card-content">
                <span>
                  <span class="text">{{ .Title }}</span>
                  <span class="date">
                    <!-- Tags -->
                    <span class="tag">
                      {{ $taxonomy := "tags" }} 
                        {{ with .Param $taxonomy }} 
                          {{ range $index, $tag := . }} 
                            {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
                              #{{ $tag | humanize }}
                          {{- end -}} 
                        {{- end -}} 
                      {{ end }}
                    </span>
                  </span>
                  <!-- Date -->
                  / {{ .Date.Format "01.06" }}</span>
                  <span class="image">
                    {{ with .Params.featured_image}}
                      <img src="{{ . }}">
                    {{ end }}
                  </span>
              </div>
            </div>
          </a>

          {{ end }}

          <div class="posts">
          
          {{ range first 4 (where .Site.RegularPages "Section" "posts").ByDate.Reverse }}

          <a href="{{ .Permalink }}" class="card-link">
            <div class="card">
              <div class="card-content">
                  <span>
                    <span class="text">{{ .Title }}</span>
                    <span class="date">
                      <!-- Tags -->
                      {{ $taxonomy := "tags" }} 
                        {{ with .Param $taxonomy }} 
                          {{ range $index, $tag := . }} 
                            {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
                              #{{ $tag | humanize }}
                          {{- end -}} 
                        {{- end -}} 
                      {{ end }}
                      <!-- Date -->
                      · {{ .Date.Format "01.06" }}</span>
                  </span>
                  <span class="image">
                    {{ with .Params.featured_image}}
                      <img src="{{ . }}">
                    {{ end }}
                  </span>
              </div>
            </div>
          </a>
          {{ end }}
          <a href="/posts/" class="card-link">
            <div class="card nostyle" style="padding-left: 2em;">Все записи</div>
          </a>
          </div>
        </div>
      </section>
      {{ end }}
    </div>

    {{ partial "footer.html" . }}

  </main>
</body>

</html>