<!doctype html>
<html lang="ru">
{{ partial "head.html" . }}
  <body>
    <main id="main">
      <div class="content">
        {{ partial "header.html" . }}

        {{ .Content }}

        {{ if gt (len ( where .Site.RegularPages "Section" "posts" )) 0 }}

        <h3>Последние записи</h3>

        <section>
          <div class="container">

            {{ range (first 6 (where .Site.RegularPages "Section" "posts" ).ByDate.Reverse) }}

            <p>
              <time class="g time" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "01.06" .Date |
                humanize
                }}</time>&nbsp;
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </p>

            {{ end }}
          
          </div>
        </section>

        {{ end }}

      </div>

      {{ partial "footer.html" . }}
      
    </main>
  </body>
</html>