<!DOCTYPE html>
<html lang="ru">
  {{ partial "head.html" . }}

  <body>
    <main id="main">
      <div class="content">
        {{ partial "header.html" . }}
        <section>
          <div class="auto">
          {{ $taxonomy := "tags" }} {{ with .Param $taxonomy }} {{
            range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s"
            $taxonomy $tag) -}}
            <p><a href="{{ .Permalink }}" class="tag">#{{ $tag | urlize | humanize }}</a></p>
            {{- end -}} {{- end -}} {{ end }}
          </div>
          <h2 class="post">{{ .Title }}</h2>
          {{ .Content }} {{ if eq .Section "posts" }}
          <div class="clearfix"></div>
          
          <div class="post-date center">
            {{- if .Lastmod }} Обновлено {{ time.Format "2 January, 2006"
            .Lastmod | humanize }} {{- end }}
          </div>

          <div class="auto">
            {{ $related := .Site.RegularPages.Related . | last 3 }}
              {{ with $related }}
              <h3>См. также</h3>
              <ul>
                {{ range . }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
              {{ end }}
              </ul>
            {{ end }}
          </div>

        </section>

        {{ end }}
      </div>
      {{ partial "footer.html" . }}
    </main>
  </body>
</html>
