@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: "Betmo";
    src:
        url('/fonts/Betmo.otf') format('truetype');
}

@font-face {
    font-family: "Alcotton";
    src:
        url('/fonts/Alcotton.ttf') format('truetype');
}

:root {
    --primary-color: #111;
    --secondary-color: #86868b;
    --font-family: 'Inter', sans-serif;
    --font-title: "Betmo";
    --font-quote: "Alcotton";
    --font-size: 18px;
}

::selection {
    background-color: #d9edf7;
    color: #31708f;
}

*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
}

body {
    background: #f5f5f5;
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.5;
    color: var(--primary-color);
}

header {
    display: flex;
    justify-content: end;
    text-transform: uppercase;
    line-height: 3;
    font-size: .9em;
    margin-bottom: 6em;
}

header a:hover {
    color: var(--secondary-color);
}

header a::before {
    background-color: transparent;
}

header ul {
    border-bottom: 1px dotted var(--secondary-color);
    padding-bottom: .4em!important;
}

header li {
    margin-bottom: 0;
    display: inline;
    font-weight: 700;
}

header li::before {
    content: '/'!important;
    margin-left: .1em!important;
}

.big-title {
    position: absolute;
    top: -1.4em;
    left: -.16em;
    font-size: 16em;
    font-weight: 900;
    color: var(--secondary-color);
    display: block;
    max-height: 1.9em;
    white-space: nowrap;
}

img.logo {
    width: 2.4em;
    vertical-align: middle;
    color: var(--primary-color);
}

img.logo:hover {
    color: var(--secondary-color);
}

section {
    margin-top: 8em;
}

a.tag {
    color: var(--secondary-color);
    font-size: .9em;
    font-style: italic;
}

h1 {
    font-size: 2.4em;
}

h2,
h3,
h4 {
    font-family: var(--font-title);
    transform-origin: center;
    letter-spacing: 0px;
    line-height: .9;
}

h2 {
    margin: 1.2em auto 1em;
    max-width: 16ch;
    font-size: 4.2em;
    text-align: center;
    line-height: 1;
}

h3 {
    font-size: 3em;
    margin-top: 2em;

}

h4 {
    margin: 1em auto 0;
    font-size: 3.2em;
    text-align: center;
    letter-spacing: .1em;
}

h3, 
p,
li {
    max-width: 48ch;
    margin-bottom: .8em;
}

.auto li {
    margin: auto;
}

ul {
    list-style: none;
    padding: 0;
}

ol {
    padding-left: 2em;
}

ul li {
    list-style: none;
    padding: 0;
    padding-left: 1em;
}

header ul li:before {
    content: "";
}

a {
    position: relative;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: var(--primary-color);
    transition: width 0.3s ease-in-out;
}

a:hover::before {
    width: 100%;
}

a.link {
    border-bottom: 1px dotted var(--secondary-color);
}

a.link::before {
    height: 0;
}

a.card-link::before {
    height: 0;
}

a.card-link {
    overflow: hidden;
}

a.link:hover {
    border-bottom: 1px dotted var(--primary-color);
}

footer {
    padding-top: 5em;
}

footer p {
    color: var(--secondary-color);
    font-size: .9em;
    line-height: 1.5;
    margin: auto;
}

hr {
    border: none;
    border-bottom: 1px dotted var(--secondary-color);
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    display: flex;
    align-items: center;
    margin: 1em auto;
    width: 32em;
    max-width: 100%;
    overflow: hidden;
}

ul li:before {
    content: "-";
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.list li:before {
    content: "";
    display: block;
    width: auto;
    margin-left: -1em;
}

.list a {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list li hr {
    flex-grow: 1;
    margin: 0 1em;
}

.time {
    font-variant-numeric: tabular-nums;
    white-space: nowrap;
    font-size: .9em;
}

blockquote {
    border-top: .8em solid #FDE84F;
    padding: 1em;
    margin: 2em auto;
    max-width: 20em;
    transform: rotate(-1deg);
    background-color: #FEF3A1;
    color: var(--primary-color);
}

blockquote p {
    font-family: var(--font-quote);
    letter-spacing: -.4em;
}

blockquote em {
    display: block;
    text-align: right;
    margin-top: 1em;
    margin-right: 1em;
    transform: rotate(1deg);
}

b,
strong {
    font-weight: 600;
    text-decoration: none;
}

.small {
    font-size: .8em;
}

.mute {
    opacity: .8;
}

.content {
    max-width: 96vw;
    margin: 0 auto;
}

.columns {
    display: grid;
    grid-template-columns: 1fr .75fr;
    grid-gap: 1em;
}

.columns div {
    padding: 1em;
}

.masonry-container {
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px;
    margin: 2em auto;
}

.masonry-item {
    display: inline-block;
    width: 100%;
}

.masonry-item img {
    display: block;
    width: 100%;
}

.masonry-item {
    margin-bottom: .2em;
}

img {
    max-width: 100%;
}

.post-date {
    font-size: .9em;
    margin: 6rem auto;
    color: var(--secondary-color);
}

.posts {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.posts>a {
    flex: 1;
    opacity: .8;
}

.posts>a:hover {
    flex: 1;
    opacity: 1;
}

.posts>a:first-child {
    background-color: red;
    display: none;
}

.card {
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 100%;
    background-color: transparent;
}

.card {
    border-bottom: 1px solid #dfdfdf;
}

.card.special, .card.nostyle {
    border-bottom: 0;
}

.card:hover {
    background-color: #dfdfdf;
}

.card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100em;
}

.card-content>span:first-of-type {
    z-index: 99;
}

.card-content .text {
    font-size: 1em;
    line-height: 1.25;
    font-weight: 700;
    display: block;
    margin-bottom: .4em;
}

.special .text {
    font-size: 3.2em;
    line-height: 1.25;
    font-weight: 700;
    display: inline;
}

.card-content .date {
    font-size: .8em;
    font-weight: 400;
    display: block;
    text-transform: uppercase;
}

.special .date {
    font-size: 1em;
    font-weight: 500;
    display: inline;
    margin-left: 1em;
}

.card-content .image {
    width: 10em;
}

.card.special .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.card.special:hover {
    opacity: .6;
}

.card.special .image img {
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
}

.special .tag {
    text-transform: uppercase;
    font-size: 8em;
    font-weight: 900;
    rotate: 180deg;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    position: absolute;
    right: -.4em;
    bottom: 0;
    color: #f5f5f5;
}

.left {
    text-align: left;
    margin-left: 0;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.auto p,
.auto h3 {
    max-width: 100%;
    margin: auto;
    margin-bottom: .8em;
    margin-top: 1em;
}

.none {
    list-style: none;
}

.all {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    border-top: 1px dotted var(--secondary-color);
    border-bottom: 1px dotted var(--secondary-color);
    padding: 1em 0;
}

.tags {
    display: flex;
    justify-content: space-between;
}

.tags ul {
    padding: 0;
    margin: 0;
}

.tags li {
    display: inline;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 500px) {
    .list a {
        white-space: normal;
    }
}

@media (max-width: 600px) {
    body {
        padding: 0 16px;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .posts {
        flex-direction: column;
    }

    .posts.index {
        flex-direction: row;
    }

    // .posts> :nth-of-type(1) {
    //     border-right: none;
    //     margin-right: 0;
    //     border-bottom: 1px dotted var(--secondary-color);
    //     margin-bottom: 1em;
    // }

    // .posts> :nth-of-type(2) {
    //     border-right: none;
    //     margin-right: 0;
    //     border-bottom: 1px dotted var(--secondary-color);
    //     margin-bottom: 1em;
    // }

    // .posts.index> :nth-of-type(1) {
    //     border-right: 1px dotted var(--secondary-color);
    //     margin-right: 1em;
    //     border-bottom: none;
    //     margin-bottom: 0;
    // }

    // .posts.index> :nth-of-type(2) {
    //     border-right: 0;
    //     margin-right: 0;
    //     border-bottom: 0;
    //     margin-bottom: 0;
    // }

    // .posts> :not(:last-child):nth-of-type(2) {
    //     border-right: 0;
    //     margin-right: 0;
    // }

    .hidden-sm {
        display: none;
    }

}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 506px) {
    .masonry-container {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .columns {
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }

    .columns div {
        padding: 0;
    }

    .big-title {
        position: absolute;
        top: -1em;
        left: -2.9em;
        font-size: 6em;
        font-weight: 900;
        color: var(--secondary-color);
        white-space: nowrap;
    }
    header {
        margin-bottom: 3em;
    }
    section {
        margin-top: 4em;
    }

    .special .card-content {
        min-height: 320px;
        padding: 1em;
    }
    .special .text {
        font-size: 2em;
        line-height: 1.25;
        font-weight: 700;
        display: inline;
        z-index: 99;
        }
    .special .tag {
        text-transform: uppercase;
        font-size: 2em;
        font-weight: 900;
        rotate: 180deg;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        position: absolute;
        right: -.4em;
        bottom: 0;
        color: #f5f5f5;
        z-index: 98;
        }
        .card .card-content {
            padding: 1em;
        }
}

@media (min-width: 507px) and (max-width: 1023px) {
    .masonry-container {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .auto p,
    .auto h3 {
        max-width: 80%;
    }
}

@media (min-width: 1024px) {
    .masonry-container {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
    .auto p,
    .auto h3 {
        max-width: 48%;
    }
}